pymilvus==2.4.6
marshmallow<4
requests==2.32.3
trafilatura==1.12.2
pypdf==5.0.1
beautifulsoup4==4.12.3
langchain-text-splitters==0.3.0
pydantic==2.9.2
pydantic-settings==2.5.2
python-dotenv==1.0.1
tqdm==4.66.5
